<?xml version='1.0' encoding='utf-8'?>
<widget id="com.acrylplatform.client" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Acryl Testnet</name>
    <description>
        Acryl wallet
    </description>
    <author email="app@acrylplatform.com" href="https://acrylplatform.com">
        Acryl Team
    </author>
    <content src="https://mobileclientiostestnet.acrylplatform.com/" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://mobileclientiostestnet.acrylplatform.com/*" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/android-chrome-36x36.png" />
        <icon density="mdpi" src="res/icon/android/android-chrome-48x48.png" />
        <icon density="hdpi" src="res/icon/android/android-chrome-72x72.png" />
        <icon density="xhdpi" src="res/icon/android/android-chrome-96x96.png" />
        <icon density="xxhdpi" src="res/icon/android/android-chrome-144x144.png" />
        <icon density="xxxhdpi" src="res/icon/android/android-chrome-192x192.png" />
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/acryl-ico-1024-60@3x.png" width="180" />
        <icon height="20" src="res/icon/ios/acryl-ico-1024-20.png" width="20" />
        <icon height="60" src="res/icon/ios/acryl-ico-1024-20@3x.png" width="60" />
        <icon height="50" src="res/icon/ios/acryl-ico-1024-50.png" width="50" />
        <icon height="100" src="res/icon/ios/acryl-ico-1024-50@2x.png" width="100" />
        <icon height="120" src="res/icon/ios/acryl-ico-1024-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/acryl-ico-1024-76.png" width="76" />
        <icon height="152" src="res/icon/ios/acryl-ico-1024-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/acryl-ico-1024-40.png" width="40" />
        <icon height="80" src="res/icon/ios/acryl-ico-1024-40@2x.png" width="80" />
        <icon height="29" src="res/icon/ios/acryl-ico-1024-29.png" width="29" />
        <icon height="58" src="res/icon/ios/acryl-ico-1024-29@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/acryl-ico-1024-29@3x.png" width="87" />
        <icon height="44" src="res/icon/ios/acryl-ico-1024-44.png" width="44" />
        <icon height="72" src="res/icon/ios/acryl-ico-1024-72.png" width="72" />
        <icon height="144" src="res/icon/ios/acryl-ico-1024-72@2x.png" width="144" />
        <icon height="86" src="res/icon/ios/acryl-ico-1024-86.png" width="86" />
        <icon height="98" src="res/icon/ios/acryl-ico-1024-98.png" width="98" />
        <icon height="108" src="res/icon/ios/acryl-ico-1024-108.png" width="108" />
        <icon height="1024" src="res/icon/ios/acryl-ico-1024-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash height="480" src="res/ios/screen-iphone-portrait.jpg" width="320" />
        <splash height="320" src="res/ios/screen-iphone-landscape.jpg" width="480" />
        <splash height="960" src="res/ios/screen-iphone-portrait-2x.jpg" width="640" />
        <splash height="640" src="res/ios/screen-iphone-landscape-x2.jpg" width="960" />
        <splash height="1024" src="res/ios/screen-ipad-portrait.jpg" width="768" />
        <splash height="2048" src="res/ios/screen-ipad-portrait-2x.jpg" width="1536" />
        <splash height="768" src="res/ios/screen-ipad-landscape.jpg" width="1024" />
        <splash height="1536" src="res/ios/screen-ipad-landscape-2x.jpg" width="2048" />
        <splash height="1136" src="res/ios/screen-iphone-portrait-568h-2x.jpg" width="640" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="ios" spec="^4.5.5" />
</widget>
