/nbproject/
/nbproject/private/
/.idea/
/node_modules
/**/*.js.map
/src/**/*.css
/build
/dist
/electron/*.js
/coverage
/tmp
/ts-scripts/*.js
/gulpfile.js
/karma.conf.js
/server.js
*.pdx
*.cer
*.p12
*.pfx
**/**/.DS_Store
WavesGUI.iml
/data-service/**/*.js
/data-service/**/*.js.map
/data-service-dist
package-lock.json
npm-debug.log
.vscode/ 
/mobile/v-2/platforms/android/app/build
/mobile/v-2/platforms/android/build
/mobile/v-2/node_modules
/mobile/v-2/platforms/ios/cordova/node_modules