<div w-i18n-ns="app.referals" class="referals-page">
    <div class="page-title headline-4 basic-700" w-i18n="pageTitle"></div>
    <div class="referals-page__content">
        <div class="generate-form" >
            <div class="row">
                <div class="body-2 basic-900">
                    <div class="footnote-1 basic-500" w-i18n="help.name"></div>
                    <w-copy-wrap info="::$ctrl.referalLink">
                        <div class="body-1 basic-900 mobile-low-fsize">{{::$ctrl.referalLink}}</div>
                    </w-copy-wrap>
                </div>
            </div>
            <div class="row">
                <div class="body-2 basic-900">
                    <div class="preview">
                        <div class="referals-info-wrap" w-i18n="description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
