<?xml version='1.0' encoding='utf-8'?>
<widget id="com.acrylplatform.client" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>ACRYL</name>
    <description>
        Acryl client.
    </description>
    <author href="http://acrylplatform.com/">
        Acrylplatfotm Team
    </author>
    <icon src="res/icon.png" />
    <content src="http://mobileclient.acrylplatform.com/" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://mobileclient.acrylplatform.com/*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
