@import (reference) 'config';
@import (reference) 'icons';

@asset-block-narrow: calc(~"25% - " @padding-main-layout);
@asset-block-wide: calc(~"33.3% - " @padding-main-layout);
@asset-block-wide50: calc(~"50% - " @padding-main-layout);
@asset-block-full: calc(~"100% - " @padding-main-layout);
@toolbar-radio-line-height: 57.5px;

.main.wallet.assets {
  .content {
    overflow-x: hidden;

    .btn-icon {
      font-family: @font-roboto-regular;
      svg {
        transition: .3s;
        fill: @color-basic-500;
      }

      &:hover {
        svg {
          fill: @color-basic-700;
        }
      }
    }

    .interface .btn-icon {
      font-family: @font-roboto-medium;
    }

    .icon-receive {
      svg {
        transform: rotate(-180deg);
      }
    }

    .toolbar {
      margin: 0 0 10px 0;
      width: calc(~"100% + "@padding-main-layout / 2);
      position: relative;
      height: 42px;

      w-button:not(:last-child) {
        margin-right: 5px;
      }
    }

    .assets-list {
      width: calc(~"100% + " @padding-main-layout);
      position: relative;
      left: @padding-main-layout * -1 / 2;
      margin: @padding-main-layout / 2 0;
    }

    .chart-content {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      background-color: @color-white;
      border-radius: 4px;
      box-shadow: @shadow-type-1;
    }

    .chart-rate {
      justify-content: space-evenly;
      display: flex;
      align-items: center;
     

      .toggler {
        display: flex;
      }

      .toolbar {

      }

      .chart-info {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .miner {
        display: flex;
        flex-direction: row; 
        @media screen and (max-width: 1300px) {
          flex-basis: @asset-block-wide;
          max-width: @asset-block-wide;
        }
        @media screen and (max-width: 1024px) {
          flex-basis: @asset-block-wide50;
          max-width: @asset-block-wide50;
        }
        @media screen and (max-width: 560px) {
          flex-basis: @asset-block-full;
          max-width: @asset-block-full;
        }
        /* ----------- iPad Pro ----------- */
        /* Portrait and Landscape */
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1.5) {
        }

         /* Portrait */
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1.5) {
        }

         /* Landscape */
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1.5) {

         }
      }

       .miner-img {
        background-image: @miner;
        background-position: center center;
        background-size: 100%;
        width: 30vh;
        height: 45vh;
        background-repeat: no-repeat;
      }

      .chart-wrapper {
        height: 239px;
        padding: 0 10px;
      }
      .chart-tooltip {
        background: @white-btn-bg;
        box-shadow: @shadow-type-2;
      }
    }

    .assets-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.toolbar {
  & w-radio-wrap {
    & .btn-wrap.btn-group .btn {
      border-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      white-space: nowrap;
      font-family: @font-roboto-regular;
      letter-spacing: 0;
      color: @color-info-500;
      display: block;
      background: none;
      font-size: 17px;
      text-decoration: none;
      line-height: @toolbar-radio-line-height;
      padding: 0;
      margin-right: 30px;
      border: none;
      border-bottom: 1px solid transparent;
    }
    & w-radio input:checked ~ label.btn.btn-radio {
      font-family: @font-roboto-regular;
      letter-spacing: 0;
      font-size: 17px;
      color: @color-submit-400;
      line-height: @toolbar-radio-line-height;
      position: relative;
      z-index: 1;
      border: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid @color-submit-400;
    }
    & .radio-dot {
      display: inline-block;
      margin: 0 5px;
    }
  }

  div.date-btns {
    & w-radio-wrap {
      & .btn-wrap.btn-group .btn,
      & w-radio input:checked ~ label.btn.btn-radio {
        font-size: 13px;
      }
    }
  }
}

.chart-prices-toggle {
  display: none;
}

.price-field {
  margin-left: 20px;
}

.toolbar-balance-select {
  margin-top: 10px;
  display: none;
}

i.toggler {
  width: 100%;
  height: 28px;
  background: @dropdown-icon center center no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .toolbar-balance-radio {
    display: none;
  }

  .toolbar-balance-select {
    display: block;
  }

  .toolbar {
    width: 100%;
    & w-radio-wrap {
      & .btn-wrap.btn-group w-radio:last-child .btn {
        margin-right: 0;
      }
    }
  }

  .main.wallet.assets {
    .content .assets-list {
      margin-bottom: 0;
    }

    .content .toolbar {
      width: 100%;
    }

    .content .chart-rate {
      height: auto;
      padding-bottom: 28px;

      .toggler {
        display: block;
      }

      .chart-info,
      .chart-wrapper {
        display: none;
      }

      &.active {

        .chart-info {
          display: flex;
        }

        .chart-wrapper {
          display: block;
        }

        .toggler {
          transform: rotate(180deg);
        }

      }

      .chart-info {

        & > div:not(:last-child) {
          margin-right: 10px;
          padding-right: 10px;
          border-right: 0 none;
        }

        .tag-1 {
          font-size: 11px;
        }

        h1 {
          white-space: nowrap;
          font-size: 24px;
        }

        .rate {
          position: relative;
        }

        .change {
          display: none;
        }
      }

    }
  }

}

@media screen and (max-width: 560px) {
  .main.wallet.assets {
    .content {
      .interface {
        width: 54px;
        padding: 0;
        .btn-icon {
          display: none;
        }
      }
    }
  }
}
